@model IEnumerable<web.Models.Gradivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LetoIzdaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloStrani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zalozba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avtor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetoIzdaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloStrani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Kategorija.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zalozba.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avtor.Ime)
                @Html.DisplayFor(modelItem => item.Avtor.Priimek)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.GradivoID">Select</a> |                
                <a asp-action="Edit" asp-route-id="@item.GradivoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GradivoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GradivoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@* 
@if (Model.GradivaIzvodi != null)
{
    <h3>Izvodi gradiva</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
        </tr>

        @foreach (var item in Model.GradivaIzvodi)
        {
            string selectedRow = "";
            if (item.GradivoIzvodID == (int?)ViewData["GradivoIzvodID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.GradivoIzvodID
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { GradivoIzvodID = item.GradivoIzvodID })
                </td>
            </tr>
        }

    </table>
} *@