@model IEnumerable<web.Models.Gradivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LetoIzdaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloStrani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategorijaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZanrID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZalozbaID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetoIzdaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloStrani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.KategorijaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZanrID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZalozbaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GradivoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GradivoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GradivoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
